<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>XikTestingTemplate</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c273d3">  <td>17/06/20 15:29:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:functionalTests.SeleniumTest@3a883ce7]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633075331</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>17/06/20 15:29:33</td>   <td>1130</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:visualTests.SikuliTest@5f282abb]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633075331</td>   <td></td> </tr>
<tr bgcolor="c2a581">  <td>17/06/20 15:29:33</td>   <td>954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.f()[pri:0, instance:functionalTests.SeleniumTest@3a883ce7]">f</td> 
  <td>main@633075331</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>17/06/20 15:29:34</td>   <td>1873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SikuliTest.f()[pri:0, instance:visualTests.SikuliTest@5f282abb]">f</td> 
  <td>main@633075331</td>   <td></td> </tr>
</table>
